<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename="style.css")}}>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="TRIVIA">
      <a class="nav-link" ><font color="purple">TRIVIA</font></a>
    </li>
  </ul>
</nav>
  {% block content %}
  {% endblock %}
</body>
</html>
